# This file avoids a pylinter bug with PyQt5 
.pylintrc

# This file changes my formatter settings 
.pep8

# VS Code project settings
.vscode/

# Ignore generated python files
__pycache__/

# Ignore database files
*.db

# Ignore personal Google Api credentials
client_secrets.json

# Ignore my personal notes for the project
notes.txt

# Don't worry about it
badsongs.txt

# Ignore my personal testing script
test.py